---
layout: base.njk
isFront: true
nav: navbar.njk
---
<header class="header w-full min-h-screen flex flex-col justify-between">
  {% include {{page.nav}} %}
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.about.njk" %}
  {% include "section.features.njk" %}
  {% include "section.register.njk" %}
</main>
